/* ====== ALL CONTENT CODE ======
   ============================== */

html, body {
    height: 100%;
}

body {
    font-family: "Arimo", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    opacity: 85%;
    overflow-x: hidden;
    color: #525e08;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "IM Fell English", "Georgia", serif;
}

#about, #menu, #events, #visit {
    margin-top: 35px;
}

/* ====== FILLER =======
   ===================== */

.filler {
    height: 134px;
    content: "";
}

/* ====== NAVBAR ======
   ==================== */

.navbar {
    top: 34px;
    height: 100px;
    background: none;
    border: none;
}

.navbar-brand {
    height: 100px;
    width: 100px;
}

.navbar-brand img[alt] {
    width: 100%;
}

.nav {
    margin-top: 15px;
    background-color: #eaa925;
}

.nav a {
    text-transform: uppercase;
    font-family: "Arimo", "Helvetica", sans-serif;
    color:  #fff !important;
    padding: 5px !important;
    padding-left: 10px !important;
    opacity: 0.9;
    letter-spacing: 0.1em;
    text-align: center;
    margin-left: 10px;
    line-height: 15px !important;
}

.nav a:hover {
    color: #a1ae54 !important;
}

/* ====== SOCIAL ======
   ================== */

#social {
    left: 240px;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 0;
}

.fa {
    color: #fff;
}

/* ====== LANDING ======
   ===================== */

#landing {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bread-821503_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

#landing h1 {
    margin-top: 400px;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.9);
}

#landing p {
    font-size: 30px;
    color: #a1ae54;
    letter-spacing: 0.41em;
    margin-top: 30px;
    font-weight: 800;
    opacity: 0.9;
}

#landing button {
    color: #fff;
    background-color: rgba(82, 94, 8, 0.9);
    border: 1px solid rgba(82, 94, 8, 0.9);
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-top: 60px;
}

/* ====== ABOUT ======
   =================== */

#owners img {
    width: 100%;
}

#about article {
    text-align: justify;
    border-left: 10px solid rgb(161, 174, 84);
    color: #525e08;
}

/* ====== MENU ======
   ================== */

#menu {
    background: rgba(161, 174, 84, 0.7);
    padding-top: 40px;
    padding-bottom: 50px;
}

#selection {
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: 10px solid;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 1.35em;
    letter-spacing: 0.198em;
}

.hide-me {
    visibility: hidden;
}

#food {
     border-bottom: 10px solid;
}

.menu {
    margin-top: 0;
    padding: 0;
}

.menu img:hover {
    opacity: 0.3;
}

/* ====== EVENTS ======
   ==================== */

#events {
    height: 80%;
    padding: 0;
    margin-bottom: 20px;
}

#events article {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

#monday, #tuesday {
    background: rgba(234, 169, 37, 0.5);
    padding: 10px;
    margin-top: 20px;
}

#monday {
    margin-right: 5px;
    width: 272.5px;
}

#tuesday {
    margin-left: 5px;
    width: 272.5px;
}

#events article h4 {
    font-family: "Arimo", "Helvetica", sans-serif;
    text-transform: uppercase;
    text-decoration: underline    
}


