/* ====== ALL CONTENT CODE ======
   ============================== */

html, body {
    height: 100%;
}

body {
    font-family: "Arimo", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    opacity: 85%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "IM Fell English", "Georgia", serif;
}

/* ====== NAVBAR ======
   ==================== */

.navbar {
    height: 110px;
    background: none;
    border: none;
}

.navbar-brand {
    height: 110px;
    width: 110px;
}

.navbar-brand img[alt] {
    width: 100%;
}

.nav {
    margin-top: 70px;
    background-color: #eaa925;
}

.nav a {
    text-transform: uppercase;
    font-family: "Arimo", "Helvetica", sans-serif;
    color:  #fff !important;
    padding: 5px !important;
    padding-left: 10px !important;
    opacity: 0.9;
    letter-spacing: 0.1em;
    text-align: center;
    margin-left: 10px;
    line-height: 15px !important;
}

.nav a:hover {
    color: #fff !important;
}

/* ====== LANDING ======
   ===================== */

#landing {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bread-821503_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

#landing h1 {
    margin-top: 400px;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.9);
}

#landing p {
    font-size: 30px;
    color: #a1ae54;
    letter-spacing: 0.485em;
}

#landing button {
    color: #fff;
    background-color: rgba(82, 94, 8, 0.9);
    border: 1px solid rgba(82, 94, 8, 0.9);
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-top: 20px;
}

