/* ====== NAVBAR ======
   ==================== */

.nav a {
    letter-spacing: 0;
    margin-left: 5px;
}

/* ====== LANDING ======
   ===================== */

#landing h1 {
    margin-top: 200px;
    margin-left: 52%;
    font-size: 85px;
    width: 350px;
    text-align: center;
}

#landing button {
    margin-left: 61%;
    margin-top: 32px;
}
