/* ====== NAVBAR ======
   ==================== */

#navbar container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nav a:hover {
    border-bottom: none !important;
}


/* ====== SOCIAL ======
       ==================== */

#social {
    left: 0;
}


/* ====== LANDING =======
       ====================== */

#landing {
    background-attachment: inherit;
}

#landing h1 {
    font-size: 70px;
}

#landing p {
    letter-spacing: 0.14em;
}


/* ====== SELECTION ======
       ======================= */

#selection {
    font-size: 1em;
    letter-spacing: 0.09em;
}


/* ====== EVENTS ======
       ==================== */

#monday,
#tuesday,
#wed-sat {
    width: 100%;
    margin: 20px 0 0 0;
}