@media (max-width: 767px) {
    
    /* ====== ALL PAGE CODE ======
       =========================== */
    
    #about, #menu, #events, #visit {
    margin-top: 5px;
}
    
      /* ====== FILLER ======
       ==================== */
    
    .filler {
        height: 100px;
    }
    
    /* ====== NAVBAR ======
       ==================== */
    
    .navbar {
    top: 0;
    height: 100px;
}
    
    .navbar-collapse {
        box-shadow: none;
        border: none;
    }
    
    .navbar-brand {
    height: 100px;
    width: 100px;
}
    
    .nav {height: auto;}
    
    .nav a:hover {
    border-bottom: none !important;
}
    
    /* ====== LANDING ======
       ===================== */

    #landing {
        background-attachment: inherit;
    }
    
    #landing h1 {
        margin-top: 150px;
        font-size: 30px;
    }
    
    #landing p {
        font-size: 14px;
        letter-spacing: 0.085em;
        margin-bottom: 40px;
    }
    
    /* ====== OWNERS ======
       ==================== */
    
    #owners {
        margin-bottom: 40px;
    }
    
    /* ====== MENU ======
       ================== */
    
    #menu {
        padding-top: 0;
    }
    
    #selection {
    letter-spacing: 0;
    font-size: 1em;
    text-align: justify;
}
    
    /* ====== EVENTS ======
       ==================== */
    
    #monday, #tuesday, #wed-sat {
        width: 100%;
        margin: 10px 0 0 0;
    }
    
    /* ====== VISIT ======
       =================== */
    
    #visit {
    padding: 0 0 20px 20px;
    
}

#deli h1, #cafe h1 {
    margin-top: 40px;
}
    .hours p:first-child {
    margin-top: 10px;
        margin-bottom: 0;
}

}
