@media (max-width: 768px) {
    
    #about, #menu, #events, #visit {
    margin-top: 5px;
}
    
    .navbar {
    top: 0;
    height: 80px;
}
    
    .navbar-collapse {
        box-shadow: none;
        border: none;
    }
    
    .navbar-brand {
    height: 80px;
    width: 80px;
}
    
    .filler {
        height: 80px;
    }
    
    #landing {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bread-821503_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
    
    #landing h1 {
        margin-top: 250px;
        font-size: 30px;
    }
    
    #landing p {
        font-size: 14px;
        letter-spacing: 0.085em;
    }
    
    #owners {
        margin-bottom: 40px;
    }
}
